<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>

      <% if(user.isMember) { %>
        <h2>You are a follower of Peter</h2>
        <a href="/message">Add Message</a>
      <% } %>
      
      <form id="logout" action="/auth/logout" method="POST">
        <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
      </form>
    <% } %>
    <a href="/signup">Sign up</a>
    <a href="/auth/login">Login</a>

    <% if(typeof messages !== 'undefined') { %>
    <div>
      <% messages.forEach(message => { %>
        <h2><%= message.title %></h2>
        <h3><%= message.text %></h3>
        <p><%= message.dateCreated %></p>
      <% }) %>
    </div>
    <% } %>
  </body>
</html>
